body {
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid darkgrey;
    margin: 0 auto;
}

#container h1 {
    font-size: 20px;
}